<h2>Ingrese Producto:</h2>
    <form action="/productosAdd" method="POST">
        Title: <input type="text" name="title" required>
        Price: <input type="number" name="price" required>
        Thumbnail URL: <input type="url" name="thumbnail" required>
        <button type="submit">Enviar</button>
    </form>