doctype 5
html 
    head 
        include ../partials/header.pug
    body
        include ../partials/form.pug
        include ../partials/table.pug 
        include ../partials/bootstrapCDN.pug 
        include ../partials/foot.pug 
